
@{
    ViewBag.Title = "Try Again";
}


<br />
<br />
<br />
<br />

<h2>Try Again</h2>

Sorry, looks like you entered some info that couldn't find results.  Please click the button below try again!<br /><br />
<input type="button" value="Redo" class="btn btn-outline-dark" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
