@model IEnumerable<Skeeetch.Models.Category>
@using Skeeetch.Data;

<h1>Hello and Welcome to the Skeeetch FUN TIME Generator!</h1>
<h2>This is all lorem ipsum for now. Real content coming soon! Check out our amazing forms below! The time for making this all look beautiful will come later.</h2>
<br />
<br />



<div>
    <form action="/search/findbusinesses/" method="post">
        How much do I want to spend:

        <div>
            <input type="radio" name="price" value="1" checked> Price $<br>
            <input type="radio" name="price" value="2"> Price $$<br>
            <input type="radio" name="price" value="3"> Price $$$<br>
            <input type="radio" name="price" value="4"> Price $$$$<br>

        </div><br />
        <div>
            Where do I want to go?<br>

            City:
            <input type="text" name="City"><br>
            State:
            <input type="text" name="State">

        </div><br />
        <div>

            How adventurous am I?<br />


            <input type="radio" name="adventure" value="boring" checked>Nope. I’m boring
            <br>
            <input type="radio" name="adventure" value="fun">Push me a little<br>
            <input type="radio" name="adventure" value="exciting">Let's DO THIS!<br>
            <input type="radio" name="adventure" value="sketch">I make bad life decisions<br>

  

        </div><br />
        <div>
            What am I looking for?


            <label class="container">
                Drinks
                <input type="checkbox" checked="checked" name="Terms" value=1>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Food
                <input type="checkbox" name="Terms" value=2>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Art
                <input type="checkbox" name="Terms" value=3>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Relaxation
                <input type="checkbox" name="Terms" value=4>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Active
                <input type="checkbox" name="Terms" value=5>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Asian Food
                <input type="checkbox" name="Terms" value=6>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Mexican Food
                <input type="checkbox" name="Terms" value=7>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Bar Food
                <input type="checkbox" name="Terms" value=8>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Upscale
                <input type="checkbox" name="Terms" value=9>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Atmosphere
                <input type="checkbox" name="Terms" value=10>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Modern
                <input type="checkbox" name="Terms" value=11>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Classic
                <input type="checkbox" name="Terms" value=12>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Late Night
                <input type="checkbox" name="Terms" value=13>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Dancing
                <input type="checkbox" name="Terms" value=14>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Karaoke
                <input type="checkbox" name="Terms" value=15>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Pool
                <input type="checkbox" name="Terms" value=16>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Kid Friendly
                <input type="checkbox" name="Terms" value=17>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Romantic
                <input type="checkbox" name="Terms" value=18>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                New
                <input type="checkbox" name="Terms" value=19>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Italian Food
                <input type="checkbox" name="Terms" value=20>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Pizza
                <input type="checkbox" name="Terms" value=21>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Indian Food
                <input type="checkbox" name="Terms" value=22>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Hookah Bar
                <input type="checkbox" name="Terms" value=23>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Casino
                <input type="checkbox" name="Terms" value=24>
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Mediterranean Food
                <input type="checkbox" name="Terms" value=25>
                <span class="checkmark"></span>
            </label>

        </div>


        <input type="submit" name="btn-group" value="Roll the dice!" /><br />
    </form>


</div>

